<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>494594756418-6r1a53tfieq32sqto1a76t3qab6553ka.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.494594756418-6r1a53tfieq32sqto1a76t3qab6553ka</string>
	<key>API_KEY</key>
	<string>AIzaSyDx_IWYOh8oeft3QnyKMK4kusb72sOy-hU</string>
	<key>GCM_SENDER_ID</key>
	<string>494594756418</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ardasnturk.FirebaseApplication</string>
	<key>PROJECT_ID</key>
	<string>fir-application-eef7f</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-application-eef7f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:494594756418:ios:023d34698cd707d4</string>
	<key>DATABASE_URL</key>
	<string>https://fir-application-eef7f.firebaseio.com</string>
</dict>
</plist>